<h1>Surveys</h1>

<%= link_to "New Survey", new_survey_path, class: "btn btn-primary" %>

<table class="table mt-3">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.title %></td>
        <td><%= survey.description %></td>
        <td>
          <%= link_to "Take", survey_path(survey), class: "btn btn-sm btn-success" %>
          <%= link_to "Edit", edit_survey_path(survey), class: "btn btn-sm btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
